@import "../../theme/variables.scss";
h1 {
  font-size: 1.2em !important;
  color: #666666;
  padding:0.8em;
}

.div-icon{
  padding: 3%;
  display: flex;
  justify-content: center;
  mat-icon{
    color:$accent;
  }
}
