@import "../../theme/variables.scss";
h1 {
  margin-top: 20px;
  font-size: 24px;
  padding-left: 5%;
  padding-right: 5%;
}

.div-icon{
  padding: 3%;
  display: flex;
  justify-content: center;
  mat-icon{
    color:$accent;
  }
}
