<div class="div-icon" *ngIf="data.iconSync">
  <mat-icon fontIcon="mobile_friendly"></mat-icon>
</div>
<div class="div-icon" *ngIf="data.iconDelete">
  <mat-icon fontIcon="delete"></mat-icon>
</div>
<h1>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.subtitle }}</p>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="accent"
    *ngIf="data.back === true"
    (click)="onNoClick()"
  >
    Cancelar
  </button>
  <button
    mat-raised-button
    color="accent"
    *ngIf="data.back === 'close'"
    (click)="onNoClick()"
  >
    Cancelar
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="data.next === 'route'"
    (click)="navigate(data.routeNext)"
    cdkFocusInitial
  >
    Aceptar
  </button>
  <button
    mat-raised-button
    color="primary"
    *ngIf="data.next === 'close'"
    (click)="onNoClick()"
    cdkFocusInitial
  >
    Aceptar
  </button>
</div>
