@import "../../theme/variables.scss";
.actions {
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 3%;
  border: none;
  button {
    border-radius: 12px;
    color: #ffffff;
  }
}

.card{
  margin-top: 30%;
}

mat-card {
  padding-top: 6%;
  border-radius: 12px;
}
.mat-mdc-form-field {
  padding-left: 3%;
  padding-right: 3%;
}

.label-titulo {
  display: flex;
  justify-content: space-around;
  font-size: 31px;
}

.div-google{
  display: flex;
  justify-content: center;
  margin-top: 20%;

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    min-width: 200px;
    border-radius: 12px;
    background-color: $accent;
  }
  span{
    display: flex;
    padding: 2%;
  }
}
.content-today{
  display: flex;
  width: 100%;

}
