<mat-card class="card">
  <label class="label-titulo" >Ingreso</label>
	<mat-form-field appearance="outline">
		<mat-label>Correo</mat-label>
		<input type="text" matInput />
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Contraseña</mat-label>
		<input type="password" matInput />
	</mat-form-field>
  <span class="span-contrasena" routerLink="/recuperar-contrasena">Olvide mi contraseña</span>
	<div class="actions">
		<button mat-raised-button color="accent" routerLink="/registro">
			Registrarme
		</button>
		<button mat-raised-button color="primary" routerLink="/today">
			Ingresar
		</button>
	</div>
</mat-card>
