<mat-drawer-container *ngIf="routeService.getNavOps().showMenu" class="app-container" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class="alarma-sidenav" mode="over" opened="false"  >
    <mat-toolbar class="example-header">Menu</mat-toolbar>
    <mat-list>
      <div mat-subheader>Opciones</div>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/today" routerLinkActive="actived"  (click)="drawer.toggle()">
        <mat-icon matListItemIcon fontIcon="today"></mat-icon>
        <div matListItemTitle>Inicio</div>
      </mat-list-item>
      <mat-list-item routerLink="/crear-alarma" routerLinkActive="actived"  (click)="drawer.toggle()">
        <mat-icon matListItemIcon fontIcon="schedule"></mat-icon>
        <div matListItemTitle>Crear alarma</div>
      </mat-list-item>
      <mat-list-item routerLink="/crear-medicamento" routerLinkActive="actived" (click)="drawer.toggle()">
        <mat-icon matListItemIcon fontIcon="health_and_safety"></mat-icon>
        <div matListItemTitle>Crear medicamento</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/ingreso" routerLinkActive="actived" (click)="drawer.toggle()">
        <mat-icon matListItemIcon fontIcon="circle"></mat-icon>
        <div matListItemTitle>Cerrar sesión</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="alarma-sidenav-content">
    <mat-toolbar color="primary">
      <button
        *ngIf="!routeService.getNavOps().backOption"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button
        *ngIf="routeService.getNavOps().backOption"
        (click)="back(routeService.getNavOps())"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ routeService.getNavOps().title }}</span>
      <span class="example-spacer"></span>
      <button
        *ngIf="routeService.getNavOps().todayOption"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="goToday()"
      >
        <mat-icon>event</mat-icon>
      </button><button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container">
      <router-outlet> </router-outlet>
    </div>
  </div>
</mat-drawer-container>
<mat-drawer-container *ngIf="!routeService.getNavOps().showMenu" class="app-container" >
  <div class="alarma-sidenav-content">
    <div class="container">
      <router-outlet> </router-outlet>
    </div>
  </div>
</mat-drawer-container>
