<h2 class="page-title">
	17 AGOSTO DE 2023
</h2>

<mat-form-field appearance="outline" class="date-selector">
	<mat-date-range-input
		[rangePicker]="campaignOnePicker">
		<input matStartDate placeholder="Start date"  >
		<input matEndDate placeholder="End date"  >
	</mat-date-range-input>
	<mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
	<mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field>

<div *ngFor="let alarma of alarmas;let i = index">
	<h3 *ngIf="i===0">
		08:00 AM
	</h3>
	<h3 *ngIf="i===3">
		10:00 AM
	</h3>
	<h3 *ngIf="i===5">
		02:00 PM
	</h3>
	<mat-card  class="mat-elevation-z4" [class.inactive]="!alarma.active" [class.active]="alarma.active">
		<mat-card-content>
			<div class="grid">
				<div class="col-1 card-type-box">
					<div class="card-type {{alarma.tipo}}">
						A
					</div>
				</div>
				<div class="col">
					<div class="title-card">{{alarma.title}}</div>
					<div class="subtitle-card">{{alarma.subtitle}}</div>
				</div>
				<div class="col-3 card-actions">
					<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" routerLink="/editar-alarma"></mat-icon>
					<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" color="warn" (click)="openDialog()"></mat-icon>
					<mat-slide-toggle [checked]="alarma.active" (change)="changeStatus(i,$event)"></mat-slide-toggle>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

</div>

