

<div *ngFor="let alarma of alarmas;let i = index">
	<h3 *ngIf="i===0">
		08:00 AM
	</h3>
	<h3 *ngIf="i===3">
		10:00 AM
	</h3>
	<h3 *ngIf="i===5">
		02:00 PM
	</h3>
	<mat-card  class="mat-elevation-z4" [class.inactive]="!alarma.active"
             [class.active]="alarma.active" >
		<mat-card-content class="flex justify-content-between">
				<div class="flex-none card-type-box flex align-items-center justify-content-center">
					<div class="card-type {{alarma.tipo}}" [routerLink]="['/ver-alarma', alarma]">
						A
					</div>
				</div>
				<div class="flex-none flex flex-column justify-content-center" [routerLink]="['/ver-alarma', alarma]">
					<div class="title-card">{{alarma.title}}</div>
					<div class="subtitle-card">{{alarma.subtitle}}</div>
				</div>
				<div class="flex-none card-actions flex align-items-center justify-content-center">
					<mat-slide-toggle [checked]="alarma.active" (change)="changeStatus(i,$event)" color="primary"  ></mat-slide-toggle>
			</div>
		</mat-card-content>
	</mat-card>

</div>

